.form-row {
    /* make it linear */
    display: flex;
}

a {
    /*remove underline*/
    text-decoration: none;
    color: darkblue
}

.badge a {
    color: white;
}

footer {
    text-align: center;
}